.input {
  width: 39.8rem;
  height: 3.3rem;


  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;


  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16px;
  gap: 8px;

  width: 5.6rem;
  height: 3.25rem;
  font-size: 0.875rem;

  background: var(--blue-200);
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;

  transition: 0.3s;
}

.button:hover {
  background: var(--blue-100)
}

.icon {
  background: transparent;
}
