.header {
  display: flex;

  width: 46rem;
  height: 4.9rem;
  left: calc(50% - 736px/2);
  top: 4rem;

  margin-bottom: 1rem;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 46rem;
  height: 3.375rem;
  left: calc(50% - 736px/2);
  top: 10.8125rem;
  background: transparent;

}

.input {
  width: 39.8rem;
  height: 3.3rem;


  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;


  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16px;
  gap: 8px;

  width: 5.6rem;
  height: 3.25rem;
  font-size: 0.875rem;

  background: var(--blue-200);
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;

  transition: 0.3s;
}

.button:hover {
  background: var(--blue-100)
}

.icon {
  background: transparent;
}









.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4.5rem;
  padding: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.paragraph {
  background: transparent;
  width: 100%;
}

.labelCheck {
  padding: 10px;
  margin-right: 1.5rem;
  border-radius: 12px;
  border: 1px solid var(--blue-100);
  margin: 16px 24px 32px 12px;
}

.labelCheck:hover {
  background: #8d8df13b;
  cursor: pointer;
}

.labelTrash {
  padding: 6px;
  border-radius: 4px;
  background: transparent;

  margin: -16px 0 0 0;
  cursor: pointer;
}

.labelTrash:hover {
  background: var(--gray-400);
}