* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gray-600);
  color: var(--white);
  position: relative;
  font-family: inter, sans-serif;
  font-size: 16px;
}

header , form {
  text-align: center;
}


header {
  height: 12.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-700);
}

/* main {} */

:root {
  --white: #ffffff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --red: #e25858;

  --blue-100: #4ea8de; 
  --blue-200: #1e6f9f;
  
  
  --purple-100: #8284fa;
  --purple-200: #5e60ce;

}

